body {
    background-color: black;
}

img.bg {
  /* Set rules to fill background */
  min-height: 50%;
  min-width: 600px;
	
  /* Set up proportionate scaling */
  width: 50%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 600px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -300px;   /* 50% */
  }
}